__pycache__
build
.eggs
android_env.egg-info
mobile_env.egg-info/
mobile_env.egg-info.bak/
mobile_env_rl.egg-info/
*_pb2.py
*_pb2_grpc.py
*_pb2.py.bak
*_pb2_grpc.py.bak
dist
tags
tags-opts
.syncthing.*.tmp

apps
apps/*.tar*
*.apk
*.png
*.jpg
*.dex
*.ttf
gradlew
gradlew.bat

apps/searchwikihow/window_dump.xml
/android-envd.conf.yaml
simu_daemon_logs

tools/*.apk
tools/frida-server-14.2.2-android-x86_64
tools/frida-server-14.2.2-android-x86_64.xz
tools/frida-script.js
tools-backup/
backup-configs/

sphinx/
#tests
/test_branches
/docker_tests
