__pycache__
build
.eggs
android_env.egg-info
*_pb2.py
*_pb2_grpc.py
dist
tags

apps/*.tar*
*.apk
*.png
*.jpg
*.dex
*.ttf
gradlew
gradlew.bat

apps/searchwikihow/window_dump.xml

!tools/*.apk
tools/frida-server-14.2.2-android-x86_64
